
body,html{
    height: 100%;
  }
  .sidebar{
    background-color: #fff;
    height: 100%;
   
  }
  .sidenav {
    
    height: 100%;
    width: 20%;
    width:auto;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-align:center;
    background-color: #265CBF;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top:62px;
    z-index: 1;
    }
    .sidenav-sub {
      margin-left:105px ;    
      height: 100%;
      width: 20%;
      width:auto;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      text-align:center;
      background-color: #ffffff;
      overflow-x: hidden;
      padding-top: 20px;
      margin-top:62px;
      z-index: 1;
      border-right: 1px solid #265CBF;
      }
    .sub_item{
      color: #265CBF;
      font-size: 15px;
      font-weight: 700;
      padding: 6px 8px 6px 16px;
      
    }
    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    }
  
    .sidenav a:hover {
    color: #f1f1f1;
    }
   
  body {
      margin: 0;
      padding: 0;
      background-color: #ffffff !important;
      
      height: 100%;
      position: relative;
      
      
    }
    html{ height:100%; }
    footer{ 
      position:fixed!important; 
      bottom:0; 
      width:100%; 
      z-index: 2;
    }
    .sidemenue_item{
      font-size: 20px;
      cursor: pointer;
      color: #fff;
      padding: 6px 15px 6px 16px;
    }
    .container{
      margin-left: 15%!important;
    }
    .main{
      overflow:auto; 
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 15%;
      height:auto;
      width: 80%;
      min-height: 70%;
     
      display: flex;
      
    }
    
    .onprocess{
      width: 49%;
      margin-right: 20px;
     
      border-radius: 30px;
    }
    .processed{
      width: 49%;
      
      border-radius: 30px;
    }
    .process_item{
      margin-top: 30px;
    }
    .item{
      border: 2px solid #265CBF;
      margin: 2px;
      border-radius: 30px;
      display: flex;
    }
    .heading{
      text-align: center;
      color: #265CBF;
      font-size: 25px;
      font-weight: 900;
    }
    .tabledetail{
      width: 40% !important;
      margin-left: 10px;
      
    }

    .tabledetail h2{
      color: #265CBF;
      font-size: 25px;
      font-weight: 900;
      margin-top: 10px!important;
      margin-bottom: 20px;
    }
    .status{
      width: 40%;
    }
    .status_new{
      width: 100%;
      text-align: center;
      color: white;
      background-color: #006400;
      border-radius: 30px;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .status_add{
      width: 100%;
      text-align: center;
      color: white;
      background-color: #C93756;
      border-radius: 30px;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .goto{
      width: 20%;
    }

    @media screen and (max-width: 767px) {
      .sidenav{display: none;}
      .sidenav-sub{display: none;}
  
      
  }

.just_margin{
  margin-bottom: 100px;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px !important;
  font-weight: bold;
  width: 40%;
}
.orderDetail{
  display: flex;
  
}
.orderDetail h3{
  color: #265CBF;
  font-weight: 900;
  width: 60%;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.orders{
  width: 100%;
}

.total_price{
  font-size: 20px;
  font-weight: 900;
  color: #265CBF;
}


.operation_area{
  display: flex;
  margin-top: 20px;
}
.operation_area_btn{
  text-align: center;
  width: 33%;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}






















