.main{
    width: 100%;
    text-align: center;
    
}
.Tabbar{
    width: 70%;
    display: flex;
    margin-top: 5px;
    overflow: hidden;
}
.tabitem{
    width: 50%;
    background-color: white;
    color: #265CBF;
    line-height: 3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.active{
    background-color: #265CBF;
    color: white;
}

.pt-3-half {
    padding-top: 1.4rem;
    }





  
 




 
  
  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
  }



 
      
      /* Modal Content */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
      }
      
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .deleteButton{
        display: flex;
        text-align: center;
        margin-top: 30px;
      }
      .deleteButton button{
        width: 30%;
     
      }


